<network>
 <name>host-bridge</name>
 <forward mode='nat'>
  <nat>
   <port start='1024' end='65535'/>
  </nat>
</forward>
<bridge name='{{br_name}}' stp='on' delay='0'/>
<ip address='{{br_ip}}' netmask='255.255.255.0'>
  <dhcp>
   <range start='{{ip_start}}' end='{{ip_end}}'/>
  </dhcp>
 </ip>     
</network>
